/* Main Font */
$main-font: 'segoe ui', meiryo, 'yu gothic', 'hiragino Kaku Gothic ProN', sans-serif;

/* Basic */
$black: #000;
$white: #fff;

/* Primary */
$primary: #1176c6;
$primary-1: #1489e5;
$primary-2: #2e99ed;
$primary-3: #4da8f0;
$primary-4: #6cb7f2;
$primary-5: #8cc7f5;
$primary-6: #abd6f8;
$primary-7: #cae5fa;

/* Gray */
$gray-1: #303338;
$gray-2: #4f545d;
$gray-3: #9297a2;

/* Background */
$bg-1: #d1e1ee;
$bg-2: #e4edf5;
$bg-3: #f5f7f9;

/* Navy */
$navy-1: #3762b0;
$navy-2: #517cc9;
$navy-3: #7899d5;
$navy-4: #9fb7e1;
$navy-5: #c6d4ed;

/* Orange */
$orange-1: #c55a18;
$orange-2: #e5722b;
$orange-3: #eb9058;
$orange-4: #f0ae86;
$orange-5: #f6ccb3;

/* Yellow */
$yellow-1: #f6ac29;
$yellow-2: #febf2c;
$yellow-3: #fece5f;
$yellow-4: #fede91;
$yellow-5: #ffedc4;

/* Blue */
$blue-1: #2e75b5;
$blue-2: #468fd0;
$blue-3: #6fa7da;
$blue-4: #97c0e6;
$blue-5: #c0d9ef;

/* Green */
$green-1: #62993f;
$green-2: #7bb853;
$green-3: #96c777;
$green-4: #b2d69b;
$green-5: #cee6bf;

/* Pink */
$pink-1: #c94ec6;
$pink-2: #d575d3;
$pink-3: #e19cdf;
$pink-4: #edc3ec;
$pink-5: #f5ddf4;

/* Key */
$key-1: #3366fb;
$key-2: #fd7b80;
$key-3: #92d050;
$key-4: #33c7bc;
